
# dependencies
/node_modules

# production
/build

#config
config.js

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

#package-lock.json
package-lock.json
